<%= form_with(model: create_challenge, local: true) do |form| %>
  <% if create_challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(create_challenge.errors.count, "error") %> prohibited this create_challenge from being saved:</h2>

      <ul>
      <% create_challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :create_challenge_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :create_challenge_description %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags, id: :create_challenge_tags %>
  </div>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.text_field :employee_id, id: :create_challenge_employee_id, value: current_user.employee_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
