<h1 class = 'text-center' >Create Challenge</h1>

<%= render 'form', create_challenge: @create_challenge %>

<br>

<h1 class = 'text-center' >Challenges List</h1>

<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope='col'>Challenge Id</th>
      <th scope='col'>Title</th>
      <th scope='col'>Description</th>
      <th><%= link_to "Votes Count", :sort => "vote_count"%> </th>
      <th scope='col'>Created By</th>
      <th><%= link_to "Create Date", :sort => "created_at"%> </th>
      <th scope='col'>Tags</th>
      <th scope='col'>Collaborators</th>
      <%# <th colspan="3"></th> %>
    </tr>
  </thead>
  <tbody>
    <% @create_challenges.each do |create_challenge| %>
      <tr>
        <td><%= create_challenge.id %></td>
        <td><%= create_challenge.title %></td>
        <td><%= create_challenge.description %></td>
        <td>
          <%= link_to vote_path(create_challenge) do %>
            +
          <% end %>
          <%= create_challenge.vote_count %>
        </td>  
        <td><%= create_challenge.employee_id %></td>
        <td><%= create_challenge.created_at %></td>
        <td><%= create_challenge.tags %></td>
        <td>
          <%= link_to collaborate_path(create_challenge) do %>
            +
          <% end %>
          <% @collaborate =  Collaborate.where(create_challenge_id: create_challenge.id) %>
            <% if !@collaborate.blank?  %>
                <%= " | " %>
              <% @collaborate.each do | collaborator | %>
                <%= collaborator.employee_id %>
                <%= " | " %>
              <% end %>
            <% end %>
        </td>
        <!-- <td><%#= link_to 'Show', create_challenge %></td>
        <td><%#= link_to 'Edit', edit_create_challenge_path(create_challenge) %></td>
        <td><%= link_to 'Destroy', create_challenge, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%#= link_to 'Create Challenge', new_create_challenge_path, class: 'btn btn-primary' %>